[Unit]
Description=raspi-box key handler
After=rasp-button.service

[Service]
ExecStart=python3 /home/zdf/button.py
Type=simple
User=root

[Install]
WantedBy=multi-user.target
